<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServBook" />
                <binding name="BasicHttpBinding_ServArrangement" />
                <binding name="BasicHttpBinding_ServAuthor" />
                <binding name="BasicHttpBinding_ServGenre" />
                <binding name="BasicHttpBinding_ServFloor" />
                <binding name="BasicHttpBinding_ServLibrarian" />
                <binding name="BasicHttpBinding_ServLocation" />
                <binding name="BasicHttpBinding_ServReader" />
                <binding name="BasicHttpBinding_ServStatus" />
                <binding name="BasicHttpBinding_ServJournal" />
                <binding name="BasicHttpBinding_SProduction_Journal" />
                <binding name="BasicHttpBinding_SCost" />
                <binding name="BasicHttpBinding_SSup_Journal" />
                <binding name="BasicHttpBinding_SFactory" />
                <binding name="BasicHttpBinding_SCountry" />
                <binding name="BasicHttpBinding_SEmployee" />
                <binding name="BasicHttpBinding_SShop" />
                <binding name="BasicHttpBinding_SProfile" />
                <binding name="BasicHttpBinding_SProduct" />
                <binding name="BasicHttpBinding_SPosition" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Book/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServBook"
                contract="Book.ServBook" name="BasicHttpBinding_ServBook" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Arrangement/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServArrangement"
                contract="Arrangement.ServArrangement" name="BasicHttpBinding_ServArrangement" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Author/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServAuthor"
                contract="Author.ServAuthor" name="BasicHttpBinding_ServAuthor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Genre/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServGenre"
                contract="Genre.ServGenre" name="BasicHttpBinding_ServGenre" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Floor/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServFloor"
                contract="Floor.ServFloor" name="BasicHttpBinding_ServFloor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Librarian/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServLibrarian"
                contract="Librarian.ServLibrarian" name="BasicHttpBinding_ServLibrarian" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Location/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServLocation"
                contract="Location.ServLocation" name="BasicHttpBinding_ServLocation" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Reader/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServReader"
                contract="Reader.ServReader" name="BasicHttpBinding_ServReader" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Status/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServStatus"
                contract="Status.ServStatus" name="BasicHttpBinding_ServStatus" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryServer/Journal/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServJournal"
                contract="Journal.ServJournal" name="BasicHttpBinding_ServJournal" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Production_Journal/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SProduction_Journal"
                contract="Production_Journal.SProduction_Journal" name="BasicHttpBinding_SProduction_Journal" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Cost/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SCost"
                contract="Cost.SCost" name="BasicHttpBinding_SCost" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Sup_Journal/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SSup_Journal"
                contract="Sup_Journal.SSup_Journal" name="BasicHttpBinding_SSup_Journal" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Factory/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SFactory"
                contract="Factory.SFactory" name="BasicHttpBinding_SFactory" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Country/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SCountry"
                contract="Country.SCountry" name="BasicHttpBinding_SCountry" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Employee/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SEmployee"
                contract="Employee.SEmployee" name="BasicHttpBinding_SEmployee" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Shop/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SShop"
                contract="Shop.SShop" name="BasicHttpBinding_SShop" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Profile/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SProfile"
                contract="Profile.SProfile" name="BasicHttpBinding_SProfile" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Product/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SProduct"
                contract="Product.SProduct" name="BasicHttpBinding_SProduct" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Position/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SPosition"
                contract="Position.SPosition" name="BasicHttpBinding_SPosition" />
        </client>
    </system.serviceModel>
</configuration>